modules = ["nodejs-20"]
run = "npm run dev"
[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[nix]
channel = "stable-24_05"
